html {
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

#__next {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  display: inline-block;
  margin: 0;
  padding: 0;
  letter-spacing: 1.8px;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0076c6;
  --accent-color: hsla(0, 0%, 0%, 0.85);
  --background-color: #f4f4f4;
  --light-text: #ffffff;
  --dark-text: #e3e3;
  --padding: 100px;
  --borderRadius: 4px;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(222ch, 100%)
    1fr;
  grid-column-gap: 32px;
  height: 100%;
}

.flexCenter {
  align-content: center;
}

.wrapper > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  height: 100%;
  grid-column: 1 / -1;
  padding: 0 var(--padding);
}
